*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.header-outer{
    position: sticky;
    top: 0;
    z-index: 500;
    width: 100%;
    height: 50px;
    background-color: #fafaff;
    display: flex;
    /* border: 1px solid red; */
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

}
.header-left, .header-right{
    flex: 1;
    /* border: 1px solid black; */
}
.header-right{
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
}
.header-right > ul{
    width: 100%;
    height: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
   
}
.header-right > ul>li{
    margin-right: 7px;
    padding: 5px 15px;
    border-bottom: 1px solid transparent;
}
.header-right > ul>li>a{
    color: #003049;
    text-decoration: none;
}
.header-right > ul>li :hover{
    border-bottom: 3px solid #f77f00;
}

/*====Main slider =====*/
.main-slider{
    background-color: lightblue;
    width: 100%;
    min-height: 95vh;
    height: auto;
    background-image: url('https://img.freepik.com/free-photo/close-up-beautiful-pink-cherry-prunus-cerasoides-wild-himalayan-cherry-like-sakusa-flower-blooming-north-thailand-chiang-mai-thailand_1150-21742.jpg?w=996&t=st=1685859166~exp=1685859766~hmac=6ec17acfb1b273f9e4bf06c69a505492cd91b31c04c220dc19ea99f30476e9ad');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    /* border: 1px solid blue; */
   
    /* display: flex; */
}
.searchbox-outer{
    width: 25%;
    height: auto;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    right: 30px;
    top:10px;
    word-spacing: 0;
    /* margi
    n-right: 20px; */

}
.searchlocation{
    width: 60%;
    height: 25px;
    padding-left: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchBtn{
    width: 20%;
    height: 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
}
/* form{
    width: 30%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
     margin-right: 20px; 
    border: 1px solid red;

}
form input{
    padding: 10px 50px;
    border: none;
    outline: none;
}
form button{
    background: tomato;
    padding: 10px 20px;
    border: none;
    outline: none;

}  */
/*====Current weather detailslider =====*/

/* .current-weather-outer{
    width: 100%;
    height: 100vh;
    border: 1px solid red;
    display: flex;
    position: relative;
} */
.weathercard-outer{
    width: 25%;
    height: 60vh;
    /* border: 1px solid red; */
    position:absolute;
    left: 3%;
    top: 10px;
    border-radius: 5%;
    background-color: white;
    background: transparent;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.title-current-weather{
    width: 80%;
    height: auto;
    /* border: 1px solid blue; */
    margin: 5px 25px;
    position: absolute;
}
.temp-reading-outer{
    width: 100%;
    height: 20vh;
    /* border: 1px solid blue; */
    position: absolute;
    top: 5vh;
    display: flex;
}

.temp-value-outer,.comditionimage-outer{
    flex: 1;
    height: 100%;
  
    /* border: 1px solid blue; */
}
.comditionimage-outer{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid blue; */
}
.conditionimage-inner{
    width: 60%;
    height: 60;
    margin-bottom: 15px;
    /* background-image: url('https://cdn2.vectorstock.com/i/1000x1000/67/36/modern-weather-icon-of-sun-flat-symbol-on-white-vector-23926736.jpg'); */
    /* border: 1px solid blue; */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
img{
    width: 85%;
    height: 100%;
    margin-left: 15px;
    /* background-image: url('https://cdn2.vectorstock.com/i/1000x1000/67/36/modern-weather-icon-of-sun-flat-symbol-on-white-vector-23926736.jpg'); */
    /* border: 1px solid blue; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  
}


.temp-value-inner{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 450%;
    /* border: 1px solid blue; */
}
.temp-symbol-inner{
    width: 100%;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* border: 1px solid blue; */
}

.celcius, .fahrenheit{
    border: none;
    background: none;
    font-size: 120%;
    font-weight: bold;
}

.conditiondescription{
    font-size: 110%;
    font-weight: bold;
}
.locationdetail-outer{
    width: 95%;
    height: 15vh;
    /* border: 1px solid brown; */
    position: absolute;
    top: 25vh; 
    /* display: flex;
    align-items: center; */
    margin-left: 10px;
}
.otherdetail-outer{
    width: 100%;
    height: 20vh;
    /* border: 1px solid black; */
    position: absolute;
    bottom: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.dateAndTime{
    margin-bottom: 5px;
    margin-top: 10px;
}
.wind-outer,.rain-outer{
    margin-right: 10px;
}
.wind-outer,.rain-outer, .humidity-outer{
    border-radius: 8px;
    background-color: #bbdefb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    opacity: 0.7;
}
.wind-outer{
    width: 30%;
    height: 16vh;
    font-weight: bold;
    /* border: 1px solid black; */
}
.rain-outer{
    width: 30%;
    height: 16vh;
    font-weight: bold;
    /* border: 1px solid black; */
}
.humidity-outer{
    width: 30%;
    height: 16vh;
    font-weight: bold;
    /* border: 1px solid black; */
}

/*====hourly weather forcaste slider =====*/
.hourly-weather-forcaste-outer{
    width: 100%;
    height: 30vh;
    /* border: 1px solid red; */
    position: absolute;
   bottom: 0;
    right: 0;
    background-color: #48bfe3;
    background-image: url('https://img.freepik.com/free-vector/mountain-landscape-night_1048-8048.jpg?w=996&t=st=1685252305~exp=1685252905~hmac=9bda3476bbf2b6710965a4a1660293676cff5d11a55ba5f85f33aba5c68661ea');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: transparent;
    
    display: flex;
}
.hourly-forcaste-title-outer{
    width: 100%;
    height: 5vh;
    /* border: 1px solid red; */
    position: absolute;
    top: 0;
    left: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.hourly-forcaste-detail-outer{
    width: 100%;
    height: 25vh;
    /* border: 1px solid red; */
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.hourly-forcaste-detail-outer > ul{
    width: 100%;
    height: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.hourly-forcaste-detail-outer> ul>li{
    flex: 1;
    height: 90%;
    border-radius: 8px;
    /* border: 1px solid red; */
    background-color: #fef9ef;
    background: transparent;
    /* background-color: #f77f00; */
    margin-right: 35px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.hourly-forcaste-detail-outer> ul>li:first-child{
    margin-left: 20px;
}
.hourly-forcaste-detail-outer> ul>li:last-child{
    margin-right: 35px;
}
.time-outer{
    width: 100%;
    height: 15%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: black;
}
.tempValue-outer{
    width: 100%;
    height: 15%;
    /* border: 1px solid red; */
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: black;
}
.wetherimage1-outer,.wetherimage2-outer,.wetherimage3-outer,.wetherimage4-outer,.wetherimage5-outer,.wetherimage6-outer{
    width: 50%;
    height: 50%;
    margin-left: 22%;
    margin-top: 10px;
    /* border: 1px solid red; */
    /* display: flex;
    align-items: center;
    justify-content: center; */

    color: black;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hour1image,.hour2image,.hour3image,.hour4image,.hour5image,.hour6image{
    /* background-image: url('https://thumbs.dreamstime.com/z/sun-icon-modern-weather-icon-flat-vector-symbols-sun-vector-illustration-sun-icon-modern-weather-icon-flat-vector-symbols-139226765.jpg'); 
    */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
/* .hour2image{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.wetherimage3-outer{
    background-image: url('https://static.vecteezy.com/system/resources/previews/009/316/966/non_2x/weather-icon-logo-illustration-cloud-with-sun-symbol-template-for-graphic-and-web-design-collection-free-vector.jpg');
}
.wetherimage4-outer{
    background-image: url('https://static.vecteezy.com/system/resources/previews/009/316/966/non_2x/weather-icon-logo-illustration-cloud-with-sun-symbol-template-for-graphic-and-web-design-collection-free-vector.jpg');
}
.wetherimage5-outer{
    background-image: url('https://static.vecteezy.com/system/resources/previews/009/316/966/non_2x/weather-icon-logo-illustration-cloud-with-sun-symbol-template-for-graphic-and-web-design-collection-free-vector.jpg');
}
.wetherimage6-outer{
    background-image: url('https://cdn.vectorstock.com/i/preview-1x/55/02/sun-cloud-icon-line-weather-symbol-vector-21085502.jpg');
} */