*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.header-outer{
    position: sticky;
    top: 0;
    z-index: 500;
    width: 100%;
    height: 50px;
    background-color: white;
    display: flex;
    /* border: 1px solid red; */
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

}
.header-left, .header-right{
    flex: 1;
    /* border: 1px solid black; */
}

.header-left{
    display: flex;
    align-items:center;
    justify-content: flex-start;
    font-size: 150%;
}
.weather-logo{
    width: 10%;
    height: 100%;
    /* border: 1px solid red;
    background: #f77f00; */
    background-image: url("/asserts/weatherLogo.PNG");
    background-repeat: no-repeat;
    background-size: contain;
    /* background: position 0; */

}

.header-right{
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
}
.header-right > ul{
    width: 100%;
    height: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
   
}
.header-right > ul>li{
    margin-right: 7px;
    padding: 5px 15px;
    border-bottom: 1px solid transparent;
}
.header-right > ul>li>a{
    color: #003049;
    text-decoration: none;
}
.header-right > ul>li :hover{
    border-bottom: 3px solid #f77f00;
}

/*====Main slider =====*/
.main-slider{
    background-color: lightblue;
    width: 100%;
    min-height: 100vh;
    height: auto;
    position: relative;
    background-image: url('https://img.freepik.com/free-photo/happy-woman-winter-snowy-city-alley_343596-4685.jpg?w=996&t=st=1685383918~exp=1685384518~hmac=367680a86f42d0d01961b55fb539a2f824d1be212e01ca1bb9db60cbab1123c9');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* border: 1px solid blue;
   
    /* display: flex; */
}

.main-title-outer{
    width: 20%;
    height: auto;
    position: absolute;
    left: 15px;
    top: 15px;
    /* border: 1px solid red; */
    font-size: 120%;
}

.searchbox-outer{
    width: 25%;
    height: auto;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    right: 30px;
    top:10px;
    border: none;
    /* word-spacing: 0; */
    /* margi
    n-right: 20px; */

}

.searchlocation{
    width: 60%;
    height: 25px;
    padding-left: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
     border: none;
}
.searchBtn{
    width: 20%;
    height: 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
}


.location-details-outer{
    width: 20%;
    height: auto;
    position: absolute;
    left: 15px;
    top: 20%;
    font-size: 120%;
    font-weight: bold;
    /* border: 1px solid red; */
    /* font-size: 120%; */
}

/*====Historical weather detailslider 3 days before =====*/

/* .current-weather-outer{
    width: 100%;
    height: 63vh;
    border: 1px solid red;
    display: flex;
    position: absolute;
    top: 30%;
    left: -2%;
} */
.weathercard1-outer{
    width: 25%;
    height: 50vh;
    /* border: 1px solid red; */
    position: absolute;
    left: 5%;
    top: 230px;
    border-radius: 5%;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 30px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    background: rgba(0, 85, 255, 0.4);
}
.weathercard1-date{
    width: auto;
    height: auto;
    /* border: 1px solid blue; */
    margin: 5px 25px;
    position: absolute;
    font-weight: bold;
}
.temp-readingAndimage-day1after-outer{
    width: 100%;
    height: 20vh;
    /* border: 1px solid blue; */
    position: absolute;
    top: 5vh;
    display: flex;
}

.temp-value-outer,.comditionimage-outer{
    flex: 1;
    height: 100%;
    /* border: 1px solid blue; */
}

.comditionimage-outer{
    display: flex;
    justify-content: center;
}

.conditionimage{
    width: 60%;
    height: 60%;
    margin-left: 15px;
    /* background-image: url('https://cdn2.vectorstock.com/i/1000x1000/67/36/modern-weather-icon-of-sun-flat-symbol-on-white-vector-23926736.jpg'); */
    /* border: 1px solid blue; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.weather-status-day1after{
    width: 85%;
    height: auto;
    /* border: 1px solid blue; */
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 180px;
    font-size: 120%;
    font-weight: bold;
}


.temp-value-day1after{
    width: auto;
    height: auto;
    font-size: 450%;
    /* border: 1px solid blue; */
}
.temp-symbol-inner{
    display: flex;
    align-items :center;
    justify-content: flex-end;
    padding-right: 10px;
}

.otherweather-details-outer{
    width: 100%;
    height: auto;
    /* border: 1px solid blue; */
    position: absolute;
    bottom: 15%;
    padding-left: 20px;
    font-size: 120%;
}


#celcius, #fahrenheit,#wind-kph,#wind-mph,#precip_mm,#precip_in,#vis_km,#vis_miles{
    border: none;
    background: none;
    font-size: 100%;
    font-weight: bold;
    
}

#celcius, #fahrenheit,#wind-kph,#wind-mph,#precip_mm,#precip_in,#vis_km,#vis_miles:hover{
    cursor: pointer;
    
}

/*====Historical weather detailslider 3 days before =====*/

/*====Historical weather detailslider 2 days before =====*/

.weathercard2-outer{
    width: 25%;
    height: 50vh;
    /* border: 1px solid red; */
    position: absolute;
    left: 37%;
    top: 230px;
    border-radius: 5%;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 30px;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    background: rgba(0, 85, 255, 0.4);
}
.weathercard2-title-current-weather{
    width: auto;
    height: auto;
    /* border: 1px solid blue; */
    margin: 5px 25px;
    position: absolute;
}

.weathercard2-date{
    width: auto;
    height: auto;
    /* border: 1px solid blue; */
    margin: 5px 25px;
    position: absolute;
    font-weight: bold;
}

.weather-status-day2after{
    width: 85%;
    height: auto;
    /* border: 1px solid blue; */
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 180px;
    font-size: 120%;
    font-weight: bold;
}

.temp-readingAndimage-day2after-outer{
    width: 100%;
    height: 20vh;
    /* border: 1px solid blue; */
    position: absolute;
    top: 5vh;
    display: flex;
}

.temp-value-day2after{
    width: auto;
    height: auto;
    font-size: 450%;
    /* border: 1px solid blue; */
}

/*====Historical weather detailslider 2 days before =====*/


/*====Historical weather detailslider 1 days before =====*/

.weathercard3-outer{
    width: 25%;
    height: 50vh;
    /* border: 1px solid red; */
    position: absolute;
    left: 70%;
    top: 230px;
    border-radius: 5%;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 30px;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    background: rgba(0, 85, 255, 0.4);
}
.weathercard3-title-current-weather{
    width: auto;
    height: auto;
    /* border: 1px solid blue; */
    margin: 5px 25px;
    position: absolute;
}

.weather-status-day3after{
    width: 85%;
    height: auto;
    /* border: 1px solid blue; */
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 180px;
    font-size: 120%;
    font-weight: bold;
}

.weathercard3-date{
    width: auto;
    height: auto;
    /* border: 1px solid blue; */
    margin: 5px 25px;
    position: absolute;
    font-weight: bold;
}

.temp-readingAndimage-day3after-outer{
    width: 100%;
    height: 20vh;
    /* border: 1px solid blue; */
    position: absolute;
    top: 5vh;
    display: flex;
}

.temp-value-day3after{
    width: auto;
    height: auto;
    font-size: 450%;
    /* border: 1px solid blue; */
}

/*====Historical weather detailslider 1 days before =====*/